/* body {
    padding:1.5em;
    background: #f5f5f5
  } */
  
  table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 55%;
    margin: auto;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
  }
  
  th {
    text-align: left;
  }
    
  thead {
    font-weight: bold;
    color: #333;
    background: rgb(163, 229, 255);
  }
    
  td, th {
    padding: 1em .5em;
    vertical-align: middle;
  }
    
  td {
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
    
   @media all and (max-width: 768px) {
      
    table, thead, tbody, th, td, tr {
      display: block;
    }
    
    th {
      text-align: right;
    }
    
    table {
      position: relative; 
      padding-bottom: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    
    thead {
      float: left;
      white-space: nowrap;
    }
    
    tbody {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
      float: left;
    }
    
    tr {
      display: inline-block;
      vertical-align: top;
    }
    
    th {
      border-bottom: 1px solid #a39485;
    }
    
    td {
      border-bottom: 1px solid #e5e5e5;
    }
    
}

thead tr th{
  text-align: center;
}
.ED {
  border-bottom: 1px solid rgba(0,0,0,.1);
  transition: background 0.5s, color 0.5s;
}
.ED:hover {
  cursor: pointer;
  background-color: rgb(253, 182, 241);
  color: white
}
.lyrics-content {
  display: none;
  padding: 10px;
  background-color: #f0f0f0;
}
.C {
  border-bottom: 1px solid rgba(0,0,0,.1);
  transition: background 0.5s, color 0.5s;
}
.C:hover {
  cursor: pointer;
  background-color: #831b1b;
  color: white;
}
.CP {
  border-bottom: 1px solid rgba(0,0,0,.1);
  transition: background 0.5s, color 0.5s;
}
.CP:hover {
  cursor: pointer;
  background-color: #B2BEB5;
  color: white;
}
.ID {
  border-bottom: 1px solid rgba(0,0,0,.1);
  transition: background 0.5s, color 0.5s;
}
.ID:hover {
  cursor: pointer;
  background-color: #222;
  color: white;
}
.SM {
  border-bottom: 1px solid rgba(0,0,0,.1);
  transition: background 0.5s, color 0.5s;
}
.SM:hover {
  cursor: pointer;
  background-color: rgb(59, 167, 163);
  color: white;
}